page-healthtips {

    .fitness-tips{
        width:100%;
    }


    .content-ios hr {
        color:red!important;

    }

    .red{
        color:red;
    }


    .health-heading{
        padding-bottom:30px;
        color:#4A8CFA;
    }

    .health-content{

        padding:20px;
    }

    .health-content p{

        font-size:18px;
        font-family: 'Montserrat', sans-serif;
        line-height:24px;
    }


    .share-content{
        padding:20px;
    }


}
