page-gallery {

/*Gallery Background color*/
    .gallery-bg{
        background-color:black;
    }

    ion-slide.swiper-slide {
        left: 25%;
    }
    
    .slide-zoom {
        background: #e6e6e6;
        
    }
 
    .thumb-img {
        padding: 10px;
    }
}


