page-store {


    ion-card{
       padding:20px;
        height:150px;
    }

    img.fitness-prod{

        width:30%;
    }

    button.view_btn{
    background-color:red!important;
    


    }

}
