page-video {


    iframe{
        height:230px!important
    }

img.fitness-video{
    width:100%!important;
    background-color:black!important;
    height:100px;
}

/*Video Content title*/
.video-content h3{
color:gray!important;
margin:0;
padding:0;
}

.video-content h4{
    color:gray!important;
    font-size:12px;
    padding-top:-50px!important;
    }


}
